<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zephyrtoria.mapper.SucceedMapper">

    <resultMap id="BaseResultMap" type="com.zephyrtoria.pojo.Succeed">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="courseBasicId" column="course_basic_id" jdbcType="VARCHAR"/>
            <result property="succeedCourseBasicId" column="succeed_course_basic_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,course_basic_id,succeed_course_basic_id
    </sql>
</mapper>
